.App {
  width: 30em;
  min-height: fit-content;
  border: solid 0.05px #cccccc;
  margin: 15vh auto 0;
  box-shadow: 0px 11px 10px #cccccc;
  }

  @media (max-width: 768px) {
    .App {
      width: 95vw;
      height: 90vh;
      margin-top: 0;
    }
  }

header {
  padding: 1em;
  min-height: 5em;
  background: #516df7;
  text-align: center;
  color: #ffffff;
  font-size: 9pt;
}

.content {
  padding: 1em;
}

.BrokenWord h2 {
  text-align: left;
}

h2 {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

button {
  background-color: transparent;
  border: 2px solid #516df7;
  border-radius: 2px;
  color: #516df7;
  cursor: pointer;
  display: block;
  font: 700 14px/21px sans-serif;
  padding: 12px 24px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 100%;
}

button:hover {
  background-color: #516df7;
  color: #ffffff;
  border: 2px solid #ffffff;
}
